<%- include("partials/header") -%>

<div class="container">
    <div class="row project-list">

        <div class="col-lg-4 col-md-6 col-sm-12">
            <section class="pro">
                <div class="pro-img-box">
                    <a href="python/1"><img src="https://user-images.githubusercontent.com/68593617/126888295-f6d0777c-f53d-4478-9972-ff031d48b4d6.png" alt="" /></a>
                </div>
                <div class="pro-body text-center">
                    <h4>
                        <a href="python/1" class="pro-title">PURPLE- The Student Companion</a>
                    </h4>
                    <!-- <p class="details">PURPLE , a smart voice assistant to rescue the needs of current day students. </p> -->
                </div>
            </section>
        </div>    

    </div>
</div>

<%- include("partials/footer") -%>